pruebas/**/build
pruebas/**/.gradle
subjects/**/build
subjects/**/.gradle
subjects/**/test
subjects/**/evosuite_log.txt
subjects/**/randoop_log.txt
scripts/utils/java_classes/.idea/
scripts/utils/java_classes/java_classes.iml
resources/java_classes_to_compile.txt
generated_specs
assertions
OASIs_results
evosuite-report
notes
classlist.txt
.gradle/
.vscode/